body {
  font-family: 'Georgia', serif;
  margin: 2em;
}
.latex-style h2 {
  font-family: 'Georgia', serif;
}
.exercise input, .exercise button {
  font-family: serif;
  font-size: 1em;
  margin: .4em 0;
}
button {
  padding: .4em .8em;
}
#rectSVG {
  display: block;
  margin: 1em auto;
  border: 1px solid #ccc;
}
